<div class="app">

  <header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark " style="background-color: #212121;">
      <a class="navbar-brand" routerLink="/">
        <span ><img src="./assets/params/images/logo/logo_grey.png" width="180" height="40" alt="ganatan"></span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">
              <i class="fas fa-home mr-1"></i>home
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/about">
              <i class="far fa-question-circle mr-1"></i>About
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/contact">
              <i class="fas fa-envelope mr-1"></i>Contact
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/signin">
              <i class="fas fa-user mr-1"></i>Sign in
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://github.com/otto87">
              <i class="fab fa-github mr-1"></i>Github
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div>
      <!--The content below is only a placeholder and can be replaced.-->
      
      <!-- <a href="https://localhost:5005/api/MyApi">Login</a> -->
      <!-- <app-tacos></app-tacos>
  <app-book></app-book> -->
      <!-- <p>
        <a [routerLink]="['media']" routerLinkActive="router-link-active">media</a>
        <br>
        <a [routerLink]="['book']" routerLinkActive="router-link-active">Books</a>
        <br>
        <a [routerLink]="['burger']" routerLinkActive="router-link-active">Burgers</a>
        <br>
        <a [routerLink]="['pen']" routerLinkActive="router-link-active">Pens</a>
        <br>
        <a [routerLink]="['paper']" routerLinkActive="router-link-active">Paper</a>
        <br>
        <a [routerLink]="['tacos']" routerLinkActive="router-link-active">Taco's</a>
      </p> -->
      <router-outlet></router-outlet>
    </div>
  </main>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center text-white">&copy; 2020 - Damgoo by Otto</p>
        </div>
      </div>
    </div>
  </div>